
ul{
    line-height: 2;
}

h1 {
    line-height: 1; 
}
p {
    font-size: 16px; /* Увеличиваем размер текста в параграфах */
}

h4{
    line-height: 1;
}

.custom-line-height {
    line-height: 40px; 
}



body { 
    margin: 0; 
    font-family: Arial, sans-serif; 
} 

.green-banner { 
    background-color: green; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    font-size: 15px; 
} 

.blue-block { 
    background-color: blue; 
    color: white; 
    height: auto; 
    width: 30%; 
    margin: 0 auto; 
    padding: 15px; 
    overflow: hidden; 
    font-size: 14px; 
    position: relative; 
} 

.rectangle { 
    background-color: transparent;
    border: 5px solid white; 
    width: 25%; 
    height: 110px; 
    margin-top: 0.3%; 
    float: left; 
    margin-right: 15px; 
    border-top-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
    margin-bottom: 20px;
}

td{
    width: 30px;
    height:30px;
    border: solid 1px silver;
    text-align:center;
    }


.spaced-text {  
    color: rgb(81, 203, 255);  
}  
 
.spaced-heading { 
    word-spacing: 10px;
}

.link-center { 
    text-align: center; 
    margin-top: 0; 
} 

.link-center a { 
    color: rgb(192, 0, 0);  
    text-decoration: none;  
    font-weight: bold;  
} 
.image {
    position: absolute; /* Используем абсолютное позиционирование */
    bottom: 7px; /* Высота футера плюс отступ */
    right: 25px; /* Отступ от правого края */
    width: 20px; /* Ширина изображения */
    height: auto; /* Высота автоматически подстраивается */
}

.highlight { 
    color: red; 
} 

.footer { 
    position: fixed; 
    bottom: -12px;
    width: 100%; 
} 
