body { 
    margin: 0; 
    font-family: Arial, sans-serif; 
}


h1 { 
    line-height: 1; 
} 

h3 { 
    line-height: 1; 
}

p {
    font-size: 15px; 
}


ul { 
    line-height: 2; 
}


.custom-line-height { 
    line-height: 40px; 
}


.green-banner { 
    background-color: green; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    font-size: 15px;
}  


.blue-block { 
    background-color: blue; 
    color: white; 
    height: auto; 
    width: 30%; 
    margin: 0 auto; 
    padding: 15px; 
    overflow: auto; 
    font-size: 14px; 
    position: relative; 
    left: 20px; 
}  


.spaced-text { 
    color: rgb(81, 203, 255);
} 

.spaced-heading {
    word-spacing: 10px; 
}


.rectangle { 
    background-color: transparent;  
    border: 5px solid white; 
    width: 25%; 
    height: 110px; 
    margin-top: 0.3%; 
    float: left; 
    margin-right: 15px; 
    border-top-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
    margin-bottom: 20px; 
} 

.flex-container {
    display: flex;
    align-items: flex-start; 
}
.table-container {
    margin-left: 80px;
    margin-top: 15px; 
}


td{
    width: 50px;
    height:40px;
    border: solid 1px silver;
    text-align:center;
    }


.spaced-text { 
    color: rgb(81, 203, 255); 
}  
 
.spaced-heading { 
    word-spacing: 10px;
}


.link-center { 
    text-align: center;  
    margin-top: 0;  
}  

.link-center a { 
    color: rgb(192, 0, 0); 
    text-decoration: none; 
    font-weight: bold;  
}  


.image {
    position: absolute; 
    bottom: 5px; 
    right: 25px; 
    width: 20px;
    height: auto; 
}


.highlight { 
    color: red; 
}  


.footer { 
    position: fixed; 
    bottom: 18px; 
    width: 100%; 
} 
